@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");

body{
    font-family: Roboto, 'Noto Sans KR', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, button, input, select, textarea {
    font-family: Roboto,Noto Sans KR,sans-serif;
    font-weight: 400;
}

body, html {
    height: 100%;
}

article, blockquote, body, dd, div, dl, dt, h1, h2, h3, h4, html, li, main, ol, p, section, table, tbody, td, th, thead, tr, ul {
    margin: 0;
    padding: 0;
}

body, html {
    -webkit-text-size-adjust: none;
}

body, body button, body input, body li, body ol, body select, body textarea, body ul {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

a, address, article, aside, audio, b, body, button, canvas, caption, dd, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, label, legend, li, nav, ol, p, pre, section, small, span, strong, summary, table, tbody, td, th, thead, time, tr, ul, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

body {
    display: block;
}

:root {
    --scrollbar-width: 0;
}

div {
    display: block;
}

.MyFollowWebContainer_contents {
    max-width: 768px;
    margin: auto;
}

.MyFollowWebContainer_header {
    line-height: 44px;
    letter-spacing: -.6px;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    padding: 48px 12px 29px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Tabs_tabsWrapper{
    position: relative;
    width: 100%;
    min-height: 48px;
    overflow: hidden;
}

.MyFollowWebContainer_tabs {
    overflow: auto;
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.MyFollowWebContainer_tabsWrapper ul {
    padding: 0 4px;
}

.Tabs_tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    padding: 0 8px;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body li, body ol, body ul {
    list-style: none;
}

body, body button, body input, body li, body ol, body select, body textarea, body ul {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

.MyFollowWebContainer_tabsWrapper ul li {
    margin: 0 8px;
}

.Tabs_tabs li {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    min-width: 30px;
    max-width: 200px;
    vertical-align: middle;
    white-space: normal;
}

button {
    border-radius: 0;
    cursor: pointer;
    background: none;
    color: inherit;
}

.Tab_tab {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    min-height: 48px;
    overflow: hidden;
    vertical-align: middle;
    white-space: normal;
}

article, blockquote, body, dd, div, dl, dt, h1, h2, h3, h4, html, li, main, ol, p, section, table, tbody, td, th, thead, tr, ul {
    margin: 0;
    padding: 0;
}

.Tab_tab span {
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    display: inline-flex;
    position: relative;
    align-items: center;
    padding: 9px 4px;
    height: 100%;
    color: #495057;
}

.Tab_active span p {
    color: #212529;
    font-weight: 900 !important;
}

.Tab_tab span p {
    font-weight: 500;
    letter-spacing: -.4px;
}

.Tab_active span:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #212529;
    width: 100%;
    height: 2px;
    content: "";
}

.MyFollowWebContainer_tabsWrapper ul li sup {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    color: #ff792a;
    font-weight: 500;
    line-height: 14px;
    vertical-align: text-top;
}

.TabPanels_tabPanels {
    width: 100%;
}

.Page_container {
    margin: 24px 12px 0;
}

.Page_blockingSupporterEmpty {
    margin-top: 200px;
    text-align: center;
}

body {
    overflow-y: scroll;
    line-height: 1.5em;
    letter-spacing: -.04em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.Page_container .Page_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 200px;
}

.Button_button.Button_primary.Button_contained {
    border-color: #ee6e23;
    background-color: #ff792a;
    color: #fff;
}
.Button_button.Button_primary.Button_contained:hover {
    border-color: #ee6e23;
    background-color: #ee6e23;
    color: #fff;
}



.Page_container .Page_content a {
    margin: 20px 0;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 0;
}

a.Button_button__3ip2b {
    align-items: center;
    text-decoration: none;
}

.Button_button {
    position: relative;
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    padding: 9px 16px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1.43;
    white-space: nowrap;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box!important;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

.Button_button span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.Button_button .Button_children {
    vertical-align: top;
}

.Page_content .Page_caption {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}

.FollowingCard_contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FollowingCard_leftPanel {
    display: flex;
    width: 100%;
}

.FollowingCard_avatarWrapper {
    display: flex;
    align-items: center;
}

.Avatar_avatar {
    display: inline-flex;
    outline: none;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    padding: 0;
    width: 64px;
    height: 64px;
    vertical-align: middle;
}

.Avatar_avatar>span {
    display: block;
    opacity: 1;
    border-radius: 100%;
    background: inherit;
    width: 100%;
    height: 100%;
}

.FollowingCard_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FollowingCard_name {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}

.FollowingCard_info .FollowingCard_detail {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    margin-top: 4px;
}

.FollowingCard_rightPanel {
    display: flex;
}

.Button_button.Button_md.Button_startIcon {
    padding-left: 10px;
}

.Button_button.Button_md {
    padding: 9px 16px;
    line-height: 1.45;
    font-size: 14px;
}

.Button_button.Button_secondary {
    border-color: #e9ecef;
    color: #343a40;
}

button[class*=Button_button] {
    -webkit-tap-highlight-color: transparent;
}

.Button_button{
    position: relative;
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 500;
    box-sizing: border-box!important;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

button.SupporterFollowingButton_followingButton>span {
    display: inline-flex;
}

.Button_button span {
    align-items: center;
    vertical-align: top;
}

.Button_button.Button_md svg.Button_icon:first-child {
    margin-right: 6px;
}

button.SupporterFollowingButton_followingButton span:first-child .SupporterFollowingButton_icon {
    width: 12px;
    height: 12px;
}

.Button_button svg.Button_icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.withIcon_icon {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.Button_button .Button_children{
    vertical-align: top;
}

.Button_button span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.Button_button.Button_secondary:hover {
    border-color: #e9ecef;
    background-color: #f9fafb;
}

.Button_button.Button_primary:hover {
    border-color: #ff792a;
    background-color: #fff5ef;
}

.Button_button.Button_primary {
    border-color: #ff792a;
    color: #ee6e23;
}

.Button_primary {
    border-color: #00c4c4;
    color: #00a2a2;
}

